.product {
    /* border: 1px solid black; */
    padding: 60px 150px;
    height: 100%;
    align-items: center;
    align-content: center;
    background-color: rgb(224, 224, 224);
  }
  .page {
    /* border: 1px solid black; */
    padding: 30px 20px;
  }
  @media (max-width: 600px) {
    .product {
      padding: 50px 50px;
    }
  }
  @media (max-width: 400px) {
    .page {
      padding: 30px 30px;
    }
  }
  